<div class="List">
  <div 
  class="item" 
  *ngFor="
  let person of listPessoas;  
  let i = index; 
  let isOdd = odd; 
  let isFirst = first; 
  let isLast = last"
  [class.item--odd]="isOdd"
  [class.item--highlighted]="selectedPersonIndex === i"
  (click)="selectPerson(i)">

    <p class="item--name">{{i}} - {{person.nome}}</p>
    <p class="item--age">{{person.idade}}</p>
    <p class="item--city">{{person.cidade}}</p>
    <p *ngIf="isFirst">Este é o primeiro item da lista.</p>
    <p *ngIf="isLast">Este é o último item da lista.</p>

  </div> <!-- não pode usar dois ng no mesmo elemento (ex: ngIf e ngFor)-->
</div>

